.canvas {
  box-sizing: content-box;
  padding: $hu;
  // border-radius: $hu;
  box-shadow: 3px 3px 10px $faintBlack;
  background: white;
  // border: 1px solid red;
  position: relative;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  svg {
    overflow: visible;
    position: absolute;
    background: none;
  }

  .canvas-size {
    color: $sky;
  }

  .canvas-label {
    left: 0;
    position: absolute;
    bottom: 100%;
    margin: 0 0 $hu 0;
    font-size: 12px;
    text-transform: uppercase;
    // color: $cream-dark;
    color: $cream;
  }
}

.preview {
  position: fixed;
  right: 0;
  top: $header-height;
  width: $u8;
  height: $u8;
  background: white;
  padding: $u;

  svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: 1px solid $faintBlack;
  }
}
