// Basic Path Rectangle
p0 0 10 0 v-10 -10 0 10 
// Units
0 0 5u 0 2u 3u 0 1u
// Width & height
v0 0 w 0 0 0.5h -w 0

// p x in [0,10,10,0] { y in [0, 0, 10, 10] { x y }}
//p x isjkj [1,2,3] { x 0 x 10 x 20 }

// Nesting
p100 100
  (x in [1,2,3]:
    (y in [2,3,4]:
      p{x} {y}
    )
  )


