$panel-width: 20%;
$statusbar-height: 24px;
$browser-height: $u4;
$browser-width: $u * 20;
$header-height: $statusbar-height; //+ $browser-height;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #e0e0e0;
}

#app {
    width: 100%;
    height: 100%;
}

.tag {
    padding: 3px 6px;
    color: $dark;
    background: $sky;
}

.workspace {
    width: 100%;
    height: 100%;
    // margin-left: $u * 20;
    position: relative;
}

.source-inspector,
.renderer {
    position: absolute;
    top: $header-height;
    bottom: 0;
}

.source-inspector {
    left: $browser-width;

    textarea {
        outline: none;
        height: 100%;
        width: 100%;
        background: $cream-dark;
        font-size: 1.2em;
        color: $cream;
    }
}

.renderer {
    width: 60%;
    right: 0;
    pointer-events: none;
}
