$panel-width: 20%;
$statusbar-height: 18px;
$browser-height: $u4;
$browser-width: $u * 20;
$header-height: $statusbar-height; //+ $browser-height;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #e0e0e0;
}

#app {
    width: 100%;
    height: 100%;
}

.statusbar {
    background: $cream-dark;
    height: auto;
    font-size: 12px;
    position: fixed;
    top: 0;
    right: 0;
    color: $cream;
    display: flex;
    left: 0;
    height: $statusbar-height;
}

.tag {
    padding: 3px 6px;
    color: $dark;
    background: $sky;
}

.workspace {
    width: 100%;
    height: 100%;
    // margin-left: $u * 20;
    position: relative;
}

.source-inspector,
.renderer {
    position: absolute;
    top: $header-height;
    bottom: 0;
}

.source-inspector {
    // width: 40%;
    left: $browser-width;
    // background: red;

    textarea {
        outline: none;
        height: 100%;
        width: 100%;
        background: $cream-dark;
        font-size: 1.2em;
        color: $cream;
        // padding: 10px;
    }
}

.renderer {
    width: 60%;
    right: 0;
}

.browser {
    position: fixed;
    top: $statusbar-height;
    left: 0;
    // top: $;
    bottom: 0;
    // right: 0;
    // height: $browser-height;
    min-height: 100%;
    width: $browser-width;
    background: $dark;

    .thumbnail {
        width: $u2;
        height: $u2;
        background: orange;
        margin: 0 $hu 0 0;
    }
}

.browser ul {
    // display: flex;
    // align-items: center;
    // padding: $hu;
}

.browser ul li {
    // width: $u2;
    // height: $u2;
    // @extend .tag;
    margin: 0 $u 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    background: $sky-dark;
    color: $sky;

    .button {
        margin-left: auto;
    }

    &:hover {
        background: white;
    }

    &.active {
        background: white;
        // pointer-events: none;

        .button svg {
            fill: $rust;
        }
    }

    svg {
        width: $u;
        height: $u;
    }
}

// #rune-tools {
//     position: fixed;
//     top: $hu;
//     left: $hu;
//     height: auto;
// }

// #rune-tabs {
//     position: fixed;
//     background: #f4f4f4;
//     bottom: 0;
//     left: 0;
//     right: $panel-width;
//     height: $u10;
//     & > div {
//         height: 100%;
//         display: flex;
//         align-items: stretch;
//     }
//     .panel {
//         width: $panel-width * 2;
//         height: 100%;
//         overflow-y: scroll;
//         margin-right: $hu;
//     }
// }
